<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]! Welcome to WordLadder!</h1>
        <form th:action="@{/WordLadder}" method="get">
            <div><label> #Word1 : <input type="text" name="word1"/> </label></div>
            <div><label> #Word2 : <input type="text" name="word2"/> </label></div>
            <div><input type="submit" value="Go"/></div>
        </form>



        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>